extends layout
block content
  .container-fluid
    .row: .col-md-12
      h1.section-title Instituciones
      #main-container: .row
        #sidebar.col-md-3.col-sm-3
          .module
            h3 ¿Que son las instituciones?
            p Todas las dependencias, entidades y empresas productivas del estado que forman parte del Gobierno de la República; estados; municipios; y, organismos autónomos que publican en datos.gob.mx

        #content.col-md-9.col-sm-9
          include includes/search-form
          .row
            each item in organizationItems
              .col-md-4
                .institution-card.result-item
                  a.logo(href=`/organization/${item.name}`)
                    img(src=item.logo_url, alt=item.acronym)
                  p
                    a(href=`/organization/${item.name}`)
                      strong= item.acronym
                  p
                    a(href=`/organization/${item.name}`)= item.title
                  p.datasets #{item.total_datas} Datos